In [1]:
import pandas as pd

In [2]:
sites_info = pd.read_csv('../DATASETS/AusPlots_Extracted_Data/Final/extracted_Final_site_info_2-0-6.csv', index_col = 0)
classifications = {0: 'Unclassed', 
                   1: 'Tropical',
                   2: 'Savanna',
                   3: 'Warm Temperate',
                   4: 'Cool Temperate',
                   5: 'Mediterranean',
                   6: 'Desert'}

Broader_Classifications = {0: 'Unclassed',
                          1: 'Tropical/Savanna',
                          2: 'Tropical/Savanna',
                          3: 'Temp/Med',
                          4: 'Temp/Med',
                          5: 'Temp/Med',
                          6: 'Desert'}

In [3]:
sites_info_completed = pd.read_csv('../DATASETS/AusPlots_Extracted_Data/Final/completed_AusPlots_dataset_2-0-6.csv', index_col = 0)
sites_info_completed.head()

  site_location_name  is_complete
0         QDAGUP0011            1
1         NSAMDD0016            1
2         QDACHC0004            1
3         NSAMDD0026            1
4         NTABRT0003            1

In [4]:
avaliable_veg = pd.read_csv('../DATASETS/AusPlots_Extracted_Data/Final/growth_forms_classification_by_dom_species_final_2-0-6.csv', index_col = 0)

In [5]:
ausplots_classifications = pd.read_csv('../DATASETS/Australian Bioclimatic Regions/AusPlots_Bioregion_Classifications.csv', index_col = 0)

In [6]:
valid_sites_list = sites_info_completed['site_location_name'].values

In [7]:
ausplots_classifications_subsetted = ausplots_classifications.iloc[ausplots_classifications.index.isin(valid_sites_list)]

In [8]:
ausplots_classifications_subsetted

            Group_Code
NSABHC0015           6
NSABHC0018           6
NSABHC0019           6
NSABHC0020           6
NSABHC0021           6
...                ...
WAAYAL0007           5
WAAYAL0008           5
WAGCOO0001           6
WAGCOO0002           6
WAGCOO0004           6

[738 rows x 1 columns]

In [9]:
avaliable_veg = avaliable_veg.set_index('site_location_name')

In [10]:
ausplots_classifications_subsetted = ausplots_classifications_subsetted.merge(avaliable_veg, left_index=True, right_index=True)

In [11]:
ausplots_classifications_subsetted_essential = ausplots_classifications_subsetted[['Group_Code', 'vegetation_type']].copy()

for i in classifications.keys():
    ausplots_classifications_subsetted_essential.loc[ausplots_classifications_subsetted_essential['Group_Code'] == i, 'Group_Code'] = classifications[i]

In [12]:
# For the original 6 code numbers 
ausplots_classifications_subsetted_essential.groupby(['Group_Code', 'vegetation_type']).size()

Group_Code      vegetation_type
Cool Temperate  Bryophyte            1
                Forb                 6
                Heath.shrub          4
                Rush                 4
                Sedge                2
                Shrub                3
                Tree.Palm           10
                Tussock.grass       15
Desert          Chenopod            61
                Forb                39
                Heath.shrub          2
                Hummock.grass       39
                Sedge                1
                Shrub               85
                Shrub.Mallee         1
                Tree.Mallee         16
                Tree.Palm           56
                Tussock.grass      101
Mediterranean   Chenopod             2
                Forb                 7
                Heath.shrub          5
                Sedge                1
                Shrub               45
                Shrub.Mallee         1
                Tree.Mallee         10
                Tree.Palm           18
                Tussock.grass        4
Savanna         Chenopod             1
                Hummock.grass       15
                Sedge                1
                Shrub               11
                Tree.Mallee          1
                Tree.Palm           29
                Tussock.grass       66
Tropical        Sedge                3
                Shrub                5
                Tree.Palm           22
                Tussock.grass       31
Warm Temperate  Shrub                3
                Tree.Palm           10
                Tussock.grass        1
dtype: int64

In [13]:
ausplots_classifications_subsetted_essential_larger_group = ausplots_classifications_subsetted[['Group_Code', 'vegetation_type']].copy()

In [14]:
ausplots_classifications_subsetted_essential_larger_group

            Group_Code vegetation_type
NSABHC0015           6   Tussock.grass
NSABHC0018           6   Tussock.grass
NSABHC0019           6   Tussock.grass
NSABHC0020           6   Tussock.grass
NSABHC0021           6   Tussock.grass
...                ...             ...
WAAYAL0007           5            Forb
WAAYAL0008           5           Shrub
WAGCOO0001           6       Tree.Palm
WAGCOO0002           6   Hummock.grass
WAGCOO0004           6        Chenopod

[738 rows x 2 columns]

In [15]:
for i in Broader_Classifications.keys():
    ausplots_classifications_subsetted_essential_larger_group.loc[ausplots_classifications_subsetted_essential_larger_group['Group_Code'] == i, 'Group_Code'] = Broader_Classifications[i]

In [18]:
counts_ausplots_larger = ausplots_classifications_subsetted_essential_larger_group.groupby(['Group_Code', 'vegetation_type']).size()

In [24]:
counts_ausplots_larger = pd.DataFrame(counts_ausplots_larger, columns = ['counts'])

In [25]:
counts_ausplots_larger.to_csv('../DATASETS/Australian Bioclimatic Regions/ausplots_bioclimatic_group_aggregated_counts.csv')